# Name: Nitin T 
#email:nitint1999@gmail.com
#Day1 Assignment

# List and default functions

In [1]:
lst = ("hi" , 4 , 5, 8, 55)

In [2]:
lst

('hi', 4, 5, 8, 55)

In [3]:
lst[1:]

(4, 5, 8, 55)

In [4]:
lst[0]

'hi'

In [5]:
lst[-2]

8

In [6]:
lst[0:-2]

('hi', 4, 5)

In [8]:
lst.count(8)

1

In [11]:
lst.index(8)

3

In [12]:
len(lst)

5

# Dictionary and its default functions

In [34]:
dit = {"house name" : "Anshu",
       "my family has" : 7,
       "Where is it" : "Blr"}

In [35]:
dit.get("house name")

'Anshu'

In [36]:
dit.get("my family has")

7

In [37]:
dit.get("Where is it")

'Blr'

In [38]:
dit

{'house name': 'Anshu', 'my family has': 7, 'Where is it': 'Blr'}

In [39]:
dit.values()

dict_values(['Anshu', 7, 'Blr'])

In [40]:
dit1 = {"house name" : "sweet",
       "my family has" : 5,
       "Where is it" : "Hyd"}

In [41]:
dit1

{'house name': 'sweet', 'my family has': 5, 'Where is it': 'Hyd'}

In [42]:
dit

{'house name': 'Anshu', 'my family has': 7, 'Where is it': 'Blr'}

In [43]:
dit.copy()

{'house name': 'Anshu', 'my family has': 7, 'Where is it': 'Blr'}

In [44]:
dit1.clear()

In [46]:
dit1

{}

In [47]:
newcpydit= dit.copy()

In [48]:
newcpydit

{'house name': 'Anshu', 'my family has': 7, 'Where is it': 'Blr'}

In [51]:
dit.pop("house name")

'Anshu'

In [52]:
dit.get("Where is it")

'Blr'

In [53]:
dit.items()

dict_items([('my family has', 7), ('Where is it', 'Blr')])

In [56]:
dit.popitem()

('Where is it', 'Blr')

In [57]:
dit.keys()

dict_keys(['my family has'])

In [59]:
dit.setdefault("Where is it")

In [60]:
dit

{'my family has': 7, 'Where is it': None}

In [62]:
dit.update({"Where is it": "Hyd"})

In [63]:
dit.keys()

dict_keys(['my family has', 'Where is it'])

In [64]:
dit

{'my family has': 7, 'Where is it': 'Hyd'}

# Sets and its default functions

In [86]:
sets = {1,55,44,22,666,"nit","hi","that",}

In [87]:
sets

{1, 22, 44, 55, 666, 'hi', 'nit', 'that'}

In [113]:
sets1 = { 1,3,7,"Hello","nit"}

In [114]:
sets1

{1, 3, 7, 'Hello', 'nit'}

In [115]:
sets.copy()

{22, 44, 55, 666, 'hi', 'that'}

In [116]:
sets.difference(sets1)

{22, 44, 55, 666, 'hi', 'that'}

In [122]:
set3 = sets.difference_update(sets1)

In [123]:
sets

{22, 44, 55, 666, 'hi', 'that'}

In [124]:
print(set3)

None

In [144]:
sets1

{1, 3, 7, 'Hello', 'nit'}

In [150]:
sets = {1,55,44,22,666,"nit","hi","that",}

In [151]:
sets4 ={1,666,"that"}

In [147]:
result=sets.intersection_update(sets1)

In [162]:
sets

{1, 22, 44, 55, 666, 'hi', 'nit', 'that'}

In [167]:
result=sets.intersection_update(sets4,sets1)

In [168]:
print(result)

None

In [169]:
print(sets)

{1}

In [173]:
sets = {1,55,44,22,666,"nit","hi","that",}
setsa ={1,666,"that"}

In [175]:
sets.isdisjoint(setsa)

False

In [176]:
sets.issubset(setsa)

False

In [178]:
sets.issuperset(setsa)

True

In [179]:
sets.pop()

1

In [180]:
sets.remove("hi")

In [181]:
sets

{22, 44, 55, 666, 'nit', 'that'}

In [182]:
sets.symmetric_difference(setsa)

{1, 22, 44, 55, 'nit'}

In [187]:
sets.symmetric_difference_update(sets4)

In [189]:
print(sets)

{1, 'that', 44, 'nit', 22, 55, 666}

In [190]:
sets.union(setsa)

{1, 22, 44, 55, 666, 'nit', 'that'}

In [191]:
sets.update(setsa)

In [192]:
sets

{1, 22, 44, 55, 666, 'nit', 'that'}

In [193]:
setsa

{1, 666, 'that'}

# Tuples and defaults functions

In [212]:
tup = ("I", 21, 434, 21,"like")

In [213]:
tup.count(21)

2

In [214]:
tup.index("like")

4

In [215]:
tup.index("I")

0

# String and its default functions

In [240]:
string= "lets upgrade is doing good job"
string1="All shd follow"

In [241]:
string.capitalize()

'Lets upgrade is doing good job'

In [242]:
string.casefold()

'lets upgrade is doing good job'

In [247]:
string.count(string)

1

In [249]:
string.endswith("e")

False

In [250]:
string.expandtabs()

'lets upgrade is doing good job'

In [252]:
string.find("o")

17

In [261]:
string.index("good job")

22

In [264]:
string.isalnum()

False

In [266]:
string.isalpha()

False

In [267]:
string.isascii()

True

In [268]:
string.isdecimal()

False

In [269]:
string.isdigit()

False

In [270]:
string.isidentifier()

False

In [271]:
string.islower()

True

In [272]:
string.isprintable()

True

In [274]:
string.isnumeric()

False

In [275]:
string.isspace()

False

In [276]:
string.isupper()

False

In [284]:
string= "lets upgrade is doing good job"
string1="All shd follow"

In [285]:
ns=string.join(string1)

In [286]:
ns

'Alets upgrade is doing good jobllets upgrade is doing good jobllets upgrade is doing good job lets upgrade is doing good jobslets upgrade is doing good jobhlets upgrade is doing good jobdlets upgrade is doing good job lets upgrade is doing good jobflets upgrade is doing good jobolets upgrade is doing good jobllets upgrade is doing good jobllets upgrade is doing good jobolets upgrade is doing good jobw'

In [287]:
string= "lets upgrade is doing good job"
string1="All shd follow"

In [291]:
string.partition(string1)

('lets upgrade is doing good job', '', '')

In [294]:
string= "lets upgrade is doing good job"
string1="All shd follow"

In [295]:
string.rsplit(string1)

['lets upgrade is doing good job']

In [296]:
string= "lets upgrade is doing good job"
string1="All shd follow"

In [297]:
string.swapcase()

'LETS UPGRADE IS DOING GOOD JOB'

In [298]:
string.title()

'Lets Upgrade Is Doing Good Job'

In [299]:
string.strip()

'lets upgrade is doing good job'

In [302]:
string.startswith("g")

False

In [304]:
string.rpartition(string1)

('', '', 'lets upgrade is doing good job')

In [311]:
string.rjust(0)

'lets upgrade is doing good job'

In [313]:
string.rfind(string1)

-1

In [ ]:
string.(string1)